```{=html}

<% for (const item of items) { %>
    <div class="list grid" style="column-gap: 5px;">
        <div class="g-col-12<% if (item.image) { %> g-col-lg-8 g-col-md-9 g-col-sm-9<% } %>">
        <b><a href="<%- item.path %>"><%= item.title %></a></b><br/>
        <% if (item.coauthors && item.coauthors.length > 0) { %><span class="coauthors">with <% for (var i = 0; i < item.coauthors.length; i++) { %><%= item.coauthors[i].name %><% if (i < item.coauthors.length - 2) { %>, <% } else if (i === item.coauthors.length - 2) { %> and <% } %><% } %>.</span><br/><% } %>
    <% if (item.note) { %>
        <i><%= item.note %></i><br/>
    <% } %>
    <span class="paper-links"><% if (item.wplink) { %><a href="<%- item.wplink %>">Draft Paper</a><% } %><% if (item.wplink && (item.slideslink || item.videolink || item.codelink || item.abstract)) { %> | <% } %><% if (item.slideslink) { %><a href="<%- item.slideslink %>">Slides</a><% } %><% if (item.slideslink && (item.videolink || item.codelink || item.abstract)) { %> | <% } %><% if (item.videolink) { %><a href="<%- item.videolink %>">Video</a><% } %><% if (item.videolink && (item.codelink || item.abstract)) { %> | <% } %><% if (item.codelink) { %><a href="<%- item.codelink %>">Code</a><% } %><% if (item.codelink && item.abstract) { %> | <% } %><% if (item.abstract) { %><a class="abstract-toggle" data-bs-toggle="collapse" href="#abstract-<%= item.path.replace(/[^a-zA-Z0-9]/g, '') %>" role="button" aria-expanded="false">Abstract</a><% } %></span>
    <% if (item.abstract) { %>
    <div class="collapse abstract-content" id="abstract-<%= item.path.replace(/[^a-zA-Z0-9]/g, '') %>">
        <div class="abstract-text"><% var paragraphs = item.abstract.split(' || '); for (var p = 0; p < paragraphs.length; p++) { %><p><%= paragraphs[p] %></p><% } %></div>
    </div>
    <% } %>
    </div>
    <% if (item.image) { %>
    <div class="image_list g-col-8 g-col-lg-4 g-col-md-3 g-col-sm-3">
            <a href="<%- item.path %>">
                <img src="<%- item.image %>" alt="image" width="100%">
            </a>
    </div>
    <% } %>
    <br>

    </div>
<% } %>
```